.file_select_container {
    -fx-background-color: #404040;
}

.file_select_container Button {
    -fx-background-color: linear-gradient(to bottom left, #f78361, #f54b64);
    -fx-effect: dropshadow(gaussian, #2a2a2a, 10, 0, 5, 5);
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri";
    -fx-text-fill: #0a0a0a;
}

.file_select_container Button:hover {
    -fx-background-color: linear-gradient(to bottom left, #f2b29d, #c93c52);
    -fx-effect: dropshadow(gaussian, #2a2a2a, 10, 0, 5, 5);
}

.file_select_container Label {
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri";
    -fx-text-fill: #FFFFFF;
}

.welcome-text {
    -fx-font-size: 24px;
    -fx-font-family: "Calibri";
    -fx-text-fill: white;
    -fx-padding: 10px;
}