@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300&display=swap');

.media_player_container {
    -fx-background-color: #a9bcd0ff;
}

.media_player_container Text {
    -fx-font-family: 'Saira Extra Condensed', sans-serif;
    -fx-text-fill: black;
}

.media_player_container Label {
    -fx-font-family: 'Saira Extra Condensed', sans-serif;
    -fx-text-fill: black;
}

.media_player_container MenuButton Text {
    -fx-font-family: 'Saira Extra Condensed', sans-serif;
    -fx-font-size: 1.2em;
    -fx-text-fill:  black;
    -fx-margin: 15px;
}

/*.media_player_container MenuButton {
    -fx-background-color: linear-gradient(to bottom left, #f78361, #f54b64);
}

.media_player_container MenuButton:hover {
    -fx-background-color: linear-gradient(to bottom left, #f2b29d, #c93c52);
} */

.menu-item .label{
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
}

.media_player_container Slider {
    -fx-progress-color: linear-gradient(to bottom left, #f78361, #f54b64);
}

.subtitle-label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-alignment: center;
}

.media_player_container Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
