/* JavaFX CSS */
.root{
 -fx-background-color: #303139;
}

#mediaFileButton{
    -fx-background-color: linear-gradient(to bottom left, #f78361, #f54b64);
    -fx-effect: dropshadow(gaussian, #2a2a2a, 10, 0, 5, 5);
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}

#mediaFileButton: hover{
    -fx-background-color: linear-gradient(to bottom left, #f2b29d, #c93c52);
    -fx-effect: dropshadow(gaussian, #2a2a2a, 10, 0, 5, 5);
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}
